<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tranquility Nails and Spa</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/hero.css">
    <link rel="stylesheet" href="/static/css/services.css">
</head>

<body>
    <header>
        <nav class="nav-desktop">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">GALLERY</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">POLICY</a></li>
            </ul>
        </nav>
        <div class="hero-section">
            <img src="/static/images/manicure.png" alt="salon" class="hero-img">
            <div class="hero-content">
                <h1>Tranquility Nails and Spa</h1>
                <a href="#services" class="cta-btn">Discover Our Services</a>
            </div>
        </div>
    </header>
    <main>
        <section id="services">
            <div class="service">
                <h3>Pedicures</h3>
                <p>Lorem ipsum dolor sit amet, sit tibique adolescens in, vel et causae pertinax accommodare aliquid.
                </p>
                <a href="#" class="read-more">Read More</a>
            </div>
            <div class="service floral-white-bg">
                <h3>Manicures</h3>
                <p>Lorem ipsum dolor sit amet, sit tibique adolescens in, vel et causae pertinax accommodare aliquid.
                </p>
                <a href="#" class="read-more">Read More</a>
            </div>
            <div class="service" style="padding: 0;">
                <img src="/static/images/salon1.png" alt="salon" class="service-image">
            </div>
            <div class="service floral-white-bg">
                <h3>Eyebrows threading</h3>
                <p>Lorem ipsum dolor sit amet, sit tibique adolescens in, vel et causae pertinax accommodare aliquid.
                </p>
                <a href="#" class="read-more">Read More</a>
            </div>
        </section>
        <section id="about">
            <div class="left-about">
                <img src="/static/images/manicure.png" alt="salon-space" class="about-img">
            </div>
            <div class="right-about">
                <div class="about-mission">
                    <h2>Our Mission</h2>
                    <p style="font-size: 20px;">Experience a sanctuary of beauty and serenity. Our skilled team is
                        committed to providing personalized care, leaving you refreshed and your nails flawless after
                        every visit. We prioritize both the elegance of your nails and your overall well-being. Whether
                        you’re here for a quick touch-up, a luxurious manicure, or a creative nail design, our experts
                        go above and beyond to exceed your expectations with every detail.</p>
                    <a href="#contact" class="cta-btn">Book Now</a>
                </div>
                <div class="right-mission-img">
                    <img src="/static/images/product1.png" alt="salon-space" class="about-img">
                    <img src="/static/images/tree1.png" alt="salon-space" class="about-img">
                </div>
            </div>
        </section>
        <section id="about">
            <div class="right-about">
                <div class="about-mission">
                    <h2>Hundres Choices</h2>
                    <p style="font-size: 20px;">We are dedicated to delivering an exceptional and serene experience in a
                        clean and safe
                        environment. With a wide range of premium services, we offer something for every preference. Our
                        use of top-tier products, including OPI, CND, DND, and WAVE, guarantees your nails will not
                        only look stunning but also remain durable and long-lasting.</p>
                    <a href="#contact" class="cta-btn">Book Now</a>
                </div>
                <div class="right-mission-img">
                    <img src="/static/images/sink.png" alt="salon-space" class="about-img">
                    <img src="/static/images/product2.png" alt="salon-space" class="about-img">
                </div>
            </div>
            <div class="left-about">
                <img src="/static/images/polish.png" alt="salon-space" class="about-img">
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Tranquility Nails and Spa | All Rights Reserved</p>
    </footer>
    <script src="script.js"></script>
</body>

</html>